body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: navy;
    color: white;
}

section {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    justify-content: center;
    padding: 20px;
    margin: 15%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    justify-content: center;
}

.hide {
    display: none;
}